.site-header 
{
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    @media (min-width: 800px) {
        background-color: rgba(47, 85, 114, .3);

    }
   
    &__butten {
        float: right;
        padding-right: 4.6875rem;
    }
    
    &__logo {
        position: absolute;
        top: 0;
        background-color: $mainBlue;
        padding: 25px 36px;
        margin-left: 4.6875rem;
   }

}

/*

    */